html{width:100%;height:100%;background:#2d2d2d;}
body{width:100%;height:100%;margin:0 auto;padding:0;text-align:center;font-size:24px;font-family:"Helvetica Neue",Helvetica,arial,sans-serif;font-weight:bold;color:#eee; -webkit-font-smoothing: antialiased;}
article,section{width:100%;height:100%;margin:0 auto; text-align: center;}
header,nav,article,section,footer{display:block}	
a{cursor:pointer;text-decoration:none}
h1,h2,h3,h4,ul,li,p,ul,ol{margin:0;padding:0}
h1{font-size:208%}
h2{font-size:100%;}
ul,li {list-style-type: none}
a{display:inline-block;margin-right:4px;color:#eee}


header {position: fixed; top:0; width:100%; z-index:2;text-align: left; background:#2d2d2d; line-height: 60px; overflow: hidden;  -webkit-transform: translatez(0);transform: translatez(0);}
header * {vertical-align: top;height: 50px;text-align: center;line-height: 50px; color:#ccc;}
header .logo {display:block; text-align: center}
header .nav {float:right; -webkit-transform: rotate(90deg);transform: rotate(90deg); letter-spacing: 3px;}
.article {position:relative; top:60px; }
footer {padding:200px 0;}
section h1 {font-size:333%;}
section h2 {font-size:300%;}
section h3 {font-size:80%;}
.home section div {position: relative;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);}

.bg-intro {background-color:#2d2d2d;}
.bg-endlesstv {background-color:#25BF79;}
.bg-tip-or-skip {background-color: #61C3E1}
.bg-papervitamins {background-color:#fff;}
.bg-dear-mta {background-color:#e1be4f }
.bg-labs {background-color:#8a4aff;}
.bg-wordjam {background-color: #E2E2E2}
.img {display:block; width:100%;}

.bg-papervitamins h1, .bg-papervitamins h2, .bg-papervitamins h3, .bg-papervitamins .project, .bg-papervitamins a { color:#4c6f8a; }
.bg-dear-mta h1, .bg-dear-mta h2, .bg-dear-mta h3, .bg-dear-mta .project {color:#1466B7}
.bg-wordjam h1, .bg-wordjam h2, .bg-wordjam h3, .bg-wordjam .project, .bg-wordjam a {color: #666}

.link {display:block; text-align: left; margin:20px 0;}
.bg-fb {background:#3b5998; color:#fff;}
.bg-tw {background:#55acee; color:#fff;}
.bg-li {background: #0077b5; color:#fff;}
.bg-dr {background:#ea4c89; color:#fff;}
.bg-gh,.bg-jz {background:#171516; color:#fff;}

.swipe {overflow: hidden; visibility: hidden; position: relative; background: transparent; /*border:1px solid #ddd;*/ margin-bottom:10px;} 
.swipe-wrap {overflow: hidden; position: relative; } 
.swipe-wrap > div {float:left;width:100%;position: relative;}
.screenshot {width:440px; height:340px; background-position: 50% 50%; background-size: cover; }

.project {max-width:960px; margin:0 auto; padding:60px 0;}
.project h1 {padding:0 0 60px;}
.project-gallery {width:440px;  float:left;}
.project-gallery .fa {background:#fff;color:#666; width:45px; height:45px; line-height: 45px; border-radius: 8px; /*border:1px solid #ddd;*/}
.project-gallery .fa-arrow-right {float:right; }
.project-gallery .fa-arrow-left {float:left;}

.project-details {width:400px; float:right; }
.project-details ul {text-align: left}
.project-details .list {margin:20px 0;}
.project-details .links li {display: inline-block; margin:10px 20px 10px 0; }

.list {font-size:60%;font-weight: normal; overflow: hidden;}
.list ul { float:left; width:45%;}
.list h2 {font-size:140%; text-align: left}

.footer li {display:inline-block; width:100px; height:100px;}
.footer li a {display:block; width:100%; height:100%;}
.footer li .fa {font-size:300%;line-height: 100px}

.btn {display: block; width:400px; height:58px; line-height: 64px; vertical-align: middle; text-align: center; color:#979797; border-bottom:6px solid #979797; background:#cfcfcf; border-radius: 10px }
.btn i {font-size:140%;}
.btn span {display:block; font-size:80%; line-height:20px;}

.btn:hover , .btn:active {border:none;position: relative; top:6px;}

.redirect {background:rgba(255,255,255,0.8); position:absolute; top:0; left:0; width:100%; height:100%; text-align: center; padding-top:40%; color:#ccc;}



@media only screen and (max-width:766px){
	body {margin:0 auto;}

}
@media only screen and (max-width:700px){
	body{font-size:24px}
}


@media only screen and (max-width:600px){
	section h1 {font-size:160%; width:50%;margin:0 auto;}
	section h2 {font-size:120%;}
	.article {min-height:600px}
	.project h1 {padding:0 0 20px;}
	.screenshot {width:320px; height:225px; padding:7px 0 0 0 }
	.project-gallery {width:100%; float:none; clear:both; }
	.project-gallery .fa {display:none;}
	.project-details {width:100%; margin:0 auto; float:none; }
	.list {width:100%;overflow: hidden; }
	.list ul {position: relative;left: 50%;-webkit-transform: translateX(-90%);transform: translateX(-90%)}
	.link {text-align:center;}
	.footer li {width:50px; height:50px;}
	.footer li .fa {font-size: 150%; line-height: 50px}
}



