<header ng-include ng-show="active='about'" src="'./app/partials/inc/nav.html'"></header>
<article>
<section class="section">
	<div class="avatar">
		<div class="avatar-image spin"><img src="http://en.gravatar.com/userimage/26106449/fc152a712fb8eec02599762db5274b50.jpg?size=200" alt="jonathan zazove" /></div>
		<div class="avatar-title"><h1>developer</h1>, <h1>designer</h1>, <h1>entreprenuer</h1></div>
	</div>
</section>
</article>
<footer ng-include src="'./app/partials/inc/footer.html'"></footer>