<header ng-include ng-show="active='portfolio'" src="'./app/partials/inc/nav.html'"></header>
<article class="article">
<section class="section bg-{{project.id}}">

<div class="project">
	<h1>{{project.name}}</h1>

	<div class="project-gallery">
	<div swiper value="project.images" id="slider" class="swipe"><div class="swipe-wrap">
	    <div ng-repeat="i in project.images"><img class="screenshot" ng-src="{{i.url}}" alt="{{i.name}}"></div>		    
	</div></div>
	<a href="" swiperleft class="fa fa-arrow-left"></a>
	<a href="" swiperright class="fa fa-arrow-right"></a>
	</div>
	<div class="project-details">
		
		<div class="list">
			<ul><li><h2>designer</h2></li><li ng-repeat="b in project.list.designer">{{b}}</li></ul>
			<ul><li><h2>engineer</h2></li><li ng-repeat="b in project.list.engineer">{{b}}</li></ul>
		</div>

		<a ng-href="{{project.link}}" class="link">{{project.link}}</a>
	</div>

	
</div>


</section>
</article>
<footer ng-include src="'./app/partials/inc/footer.html'"></footer>
