<div>
	<h1>Jonathan Zazove</h1>
	<ul class="footer">
	<li><a href="https://dribbble.com/jzazove" class="bg-dr"><i class="fa fa-dribble"></i></a></li>
	<li><a href="http://twitter.com/jzazove" class="bg-tw"><i class="fa fa-twitter"></i></a></li>
	<li><a href="http://www.facebook.com/zazove" class="bg-fb"><i class="fa fa-facebook"></i></a></li>
	<li><a href="http://www.linkedin.com/in/jzazove" class="bg-li"><i class="fa fa-linkedin"></i></a></li>
	<li><a href="https://www.github.com/jzazove" class="bg-gh"><i class="fa fa-github"></i></a></li>
	</ul>
</div>